.escena{
    height: 650px;
    width: 1000px;
    float: right;
    
}

#menusito{
    height: 650px;

    background-color: #336666;
    text-align: center;

}
html.body{
    background-color: #336666;
}
p{
    color: white;
}

#cambiarEjemplo{
    position:absolute;
    bottom:30px;
    left: 60px;
    
}
